# Docker / Volumes / Caches
**/data/
**/volumes/
**/logs/
**/__pycache__/
**/.env
**/.vscode/
**/.DS_Store

# VS Code
docker.code-workspace

# Python cache
*.pyc
*.pyo

# Synology Drive metadata
@eaDir/
